@model ReflectionIT.Mvc.Paging.PagingList<MetaModelCoreApp.Models.CropLoss>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging


@*@{
           ViewData["Title"] = "Index";
           Layout = "~/Views/Shared/_Layout.cshtml";
    }*@


@{
    ViewData["Title"] = "Home Page";
}


@section Styles {
    <link href="~/css/datastyle.css" rel="stylesheet" />

    <style type="text/css">

        table.table {
            table-layout: fixed;
        }

            table.table tr th,
            table.table tr td {
                border-color: #e9e9e9;
            }

            table.table th {
                min-width: 80px;
            }

                table.table th:last-child {
                    width: 100px;
                }

                table.table th i {
                    font-size: 13px;
                    margin: 0 5px;
                    cursor: pointer;
                }

            table.table td a {
                cursor: pointer;
                display: inline-block;
                margin: 0 5px;
                min-width: 24px;
            }

                table.table td a.add {
                    color: #27C46B;
                }

                table.table td a.edit {
                    color: #FFC107;
                }

                table.table td a.delete {
                    color: #E34724;
                }

            table.table td i {
                font-size: 19px;
            }

            table.table td a.add i {
                font-size: 24px;
                margin-right: -1px;
                position: relative;
                top: 3px;
            }

            table.table .form-control {
                width: 100%;
                padding: 2px 5px;
                line-height: 1.0;
            }

                table.table .form-control.error {
                    border-color: #f50000;
                }

            table.table td .add {
                display: none;
            }

        .rotate {
            /* Safari */
            -webkit-transform: rotate(-90deg);
            /* Firefox */
            -moz-transform: rotate(-90deg);
            /* IE */
            -ms-transform: rotate(-90deg);
            /* Opera */
            -o-transform: rotate(-90deg);
            float: left;
        }

        .highlight {
            background: #3297FD;
            /*width:250px;*/
        }
    </style>
}

<div class="row">
    <div class="col-md-4">
        <div class="mr-1">
            <div class="form-view" id="updatePanel">
                <div id="multi-form-wrapper" class="data-view multi-form-wrapper">
                    <div class="mr-1">
                        <h3>Choose Senarios</h3>
                        @*<table id="multi-form-view" class="table multi-form-view" >*@
                        <table>
                            <tr>
                                <td width="250px" style="text-align:center;"></td>
                                <td width="250px" style="text-align:center"></td>
                                <td width="250px" colspan="1" style="text-align:center">Economic</td>
                                <td width="250px" style="text-align:center"></td>
                                <td width="250px" style="text-align:center"></td>
                            </tr>

                            <tr>
                                <td style="text-align:center"></td>
                                <td style="text-align:center;vertical-align: middle">

                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="Productive">
                                        <label class="custom-control-label" for="Productive" data-toggle="tooltip" data-placement="top" title="Productive">Productive</label>
                                    </div>
                                </td>
                                
                                <td style="text-align: center;" > <label id="e_high"><img width="50" height="50" src="~/images/e_high.png" /></label></td>
                                <td style="text-align: center; vertical-align: middle ">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="Resilent">
                                        <label class="custom-control-label" for="Resilent" data-toggle="tooltip" data-placement="top" title="Resilent">Resilent</label>
                                    </div>
                                </td>
                                <td style="text-align:center"></td>
                            </tr>
                            <tr>
                                @*<td><label class="rotate">Climate</label></td>*@
                                <td style="text-align:center;vertical-align: middle" class="rotate">Climate</td>
                                <td style="text-align: center;">  <label id="c_low"><img width="50" height="50" src="~/images/c_low.png" /></label></td>
                                <td><img height="50" width="80" src="~/images/xy.png" /></td>
                                <td style="text-align: center;"> <label id="c_high"><img width="50" height="50" src="~/images/c_high.png" /></label></td>
                                <td style="text-align:center;vertical-align: middle" class="rotate">Climate</td>
                            </tr>

                            <tr>
                                <td style="text-align:center"></td>
                                <td style="text-align:center;vertical-align: middle">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="Moderate">
                                        <label class="custom-control-label" for="Moderate" data-toggle="tooltip" data-placement="top" title="Moderate">Moderate</label>
                                    </div>
                                </td>
                                <td style="text-align: center;"><label id="e_low"><img width="50" height="50" src="~/images/e_low.png" /></label></td>
                                <td style="text-align: center;vertical-align: middle">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="Active">
                                        <label class="custom-control-label" for="Active" data-toggle="tooltip" data-placement="top" title="Active">Active</label>
                                    </div>
                                </td>
                                <td style="text-align:center"></td>
                            </tr>

                            <tr>
                                <td style="text-align:center;"></td>
                                <td style="text-align:center"></td>
                                <td colspan="1" style="text-align:center">Economic</td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                            </tr>

                        </table>

                    </div>


                </div>
            </div>
            <div class="form-view" id="updatePanel" style="margin-top:5px">
                <div id="multi-form-wrapper" class="data-view multi-form-wrapper">
                    <div class="mr-1">
                        <h3>Stretegy</h3>
                        <select class="form-control">

                            @foreach (Strategies aStrategy in ViewBag.Strategy)
                            {
                                <option>@aStrategy.StategiesCode : @aStrategy.StrategyName</option>
                            }


                        </select>

                    </div>
                </div>
            </div>
            <div class="form-view" id="updatePanel" style="margin-top:5px">
                <div id="multi-form-wrapper" class="data-view multi-form-wrapper">
                    <div class="mr-1">
                        <h3>Goals</h3>

                        @foreach (BdpGoals aStrategy in ViewBag.Goals)
                        {
                            <div class="custom-control custom-checkbox float-left mr-1">
                                <input type="checkbox" class="custom-control-input" id="@aStrategy.BdpGoalsCode">
                                <label class="custom-control-label" for="@aStrategy.BdpGoalsCode" data-toggle="tooltip" data-placement="top" title="@aStrategy.BdpGoalsName">@aStrategy.BdpGoalsCode</label>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="mr-1" style="margin-bottom:5px">
            <div class="form-view" id="updatePanel">
                <div id="multi-form-wrapper" class="data-view multi-form-wrapper">
                    <div class="float-md-right" style="margin-bottom:5px">
                        <form method="get" class="form-inline">
                            <input name="filter" class="form-control" placeholder="filter"
                                   value="@Model.RouteValue["Filter"]" />
                            <button type="submit" class="btn btn-info">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
                            </button>
                        </form>
                    </div>
                    @*upz_code, collected_date, run_code, crop_type_id,indicator_code,indicator_value,loss_type_id*@
                    <table id="multi-form-view" class="table table-responsive multi-form-view" style="border:0!important">
                        <thead>
                            <tr>
                                <th>Upazila Code</th>
                                <th>Collected Date</th>
                                <th>Run Code</th>
                                <th>Crop Type</th>
                                <th>Indicator Code</th>
                                <th>Indicator Value</th>
                                <th>Loss Type</th>


                            </tr>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UpzCode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CollectedDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RunCode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CropType.CropTypeName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IndicatorCode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IndicatorValue)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LossType.LossTypeName)
                                    </td>
                                </tr>
                            }
                    </table>
                    <div style="text-align: center;">
                        <vc:pager paging-list="@Model" />
                    </div>
                </div>
            </div>

        </div>

        <div class="float-left"><button>Go to Graph</button></div>
        <div class="float-right"><button>Go to Map</button></div>

    </div>
</div>

@section Scripts {
    <script>

        //$(function()
        $(document).ready(function () {


            $("#Productive ,#Resilent,#Moderate,#Active").click(function () {

                //Productive
                if ($('#Productive').is(":checked") == true) {
                    $("#e_high").addClass("highlight");
                    $("#c_low").addClass("highlight");
                } else {

                    $("#e_high").removeClass("highlight");
                    $("#c_low").removeClass("highlight");

                    if ($('#Moderate').is(":checked") == true) {
                        $("#e_low").addClass("highlight");
                        $("#c_low").addClass("highlight");
                    }
                    if ($('#Resilent').is(":checked") == true) {

                        $("#e_high").addClass("highlight");
                        $("#c_high").addClass("highlight");

                    }
                    if ($('#Active').is(":checked") == true) {

                        $("#e_low").addClass("highlight");
                        $("#c_high").addClass("highlight");
                    }
                }

                //Resilent
                if ($('#Resilent').is(":checked") == true) {

                    $("#e_high").addClass("highlight");
                    $("#c_high").addClass("highlight");

                } else {
                    $("#e_high").removeClass("highlight");
                    $("#c_high").removeClass("highlight");

                    if ($('#Productive').is(":checked") == true) {
                        $("#e_high").addClass("highlight");
                        $("#c_low").addClass("highlight");

                    }
                }

                //Moderate
                if ($('#Moderate').is(":checked") == true) {
                    $("#e_low").addClass("highlight");
                    $("#c_low").addClass("highlight");
                } else {

                    $("#e_low").removeClass("highlight");
                    $("#c_low").removeClass("highlight");

                    if ($('#Productive').is(":checked") == true) {
                        $("#e_high").addClass("highlight");
                        $("#c_low").addClass("highlight");

                    }
                    if ($('#Resilent').is(":checked") == true) {

                        $("#e_high").addClass("highlight");
                        $("#c_high").addClass("highlight");
                    }
                    if ($('#Active').is(":checked") == true) {

                        $("#e_low").addClass("highlight");
                        $("#c_high").addClass("highlight");
                    }


                }

                //Active
                if ($('#Active').is(":checked") == true) {

                    $("#e_low").addClass("highlight");
                    $("#c_high").addClass("highlight");
                } else {

                    $("#e_low").removeClass("highlight");
                    $("#c_high").removeClass("highlight");

                    if ($('#Productive').is(":checked") == true) {
                        $("#e_high").addClass("highlight");
                        $("#c_low").addClass("highlight");
                    }
                    if ($('#Moderate').is(":checked") == true) {
                        $("#e_low").addClass("highlight");
                        $("#c_low").addClass("highlight");
                    }
                    if ($('#Resilent').is(":checked") == true) {

                        $("#e_high").addClass("highlight");
                        $("#c_high").addClass("highlight");

                    }
                }
            });


            //$("#e_low").click(function () {

            //    //alert("Clicked on image");
            //    $("#e_low").css('background-color', '#3297FD');
            //});

            //$("#e_high").click(function () {

            //    if ($("#e_high") && $("#c_high")) {

            //    }

            //    //alert("Clicked on image");
            //    $("#e_high").css('background-color', '#3297FD');
            //});
            //$("#c_low").click(function () {
            //    //alert("Clicked on image");
            //    $("#c_low").css('background-color', '#3297FD');
            //});
            //$("#c_high").click(function () {
            //    //alert("Clicked on image");
            //    $("#c_high").css('background-color', '#3297FD');
            //});

        });

                                                //function active() {
                                                //    alert("OK");
                                                //}

                                                                    //Productive
                                                                    //Resilent
                                                                    //Moderate
                                                                    //Active

                                                                    //e_low
                                                                    //e_high
                                                                    //c_low
                                                                    //c_high


    </script>
}
